<div class="product machine-air-compressor">
  <div fxLayout fxLayoutAlign="center">
    <h2 class="mat-h2">MCC Dashboard</h2>
  </div>
  <selection dashboardtype="mcc_dashboard" (select)="onSelect($event)"></selection>
  <div fxLayout fxLayoutAlign="center" *ngIf="loadedSpinner">
    <app-spinner></app-spinner>
  </div>

  <div class="col-md-12">
    <div class="col-md-6 alaram-ele"  (click)="goTo('monitoringparams')">
      <div class="headerCol1">
        <span class="headerData">
          Monitoring Parameters
        </span>
      </div>
      <div class="thumbnail col1">
        <ng-container *ngIf=" mccData && mccData['monitoring_parameters']">
          <ng-container *ngTemplateOutlet="keyAndValue,context : {data: mccData['monitoring_parameters']}">
          </ng-container>
        </ng-container>
      </div>

    </div>
    <div class="col-md-6 alaram-ele"  (click)="goTo('monitoringparams')">
      <div class="headerCol2">
        <span class="headerData">
          Power Monitoring
        </span>
      </div>
      <div class="thumbnail col2">
        <ng-container *ngIf=" mccData && mccData['power_monitoring']">
          <ng-container *ngTemplateOutlet="keyAndValue,context : {data: mccData['power_monitoring']}">
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="col-md-6 alaram-ele"  (click)="goTo('monitoringparams')">
      <div class="headerCol3">
        <span class="headerData">
          Power Quality Data
        </span>
      </div>
      <div class="thumbnail col3">
        <ng-container *ngIf=" mccData && mccData['power_quality']">
          <ng-container *ngTemplateOutlet="keyAndValue,context : {data: mccData['power_quality']}">
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="col-md-6 alaram-ele"  (click)="goTo('monitoringparams')">
      <div class="headerCol4">
        <span class="headerData">
          Demand Analysis
        </span>
      </div>
      <div class="thumbnail col4">
        <ng-container *ngIf=" mccData && mccData['demand_analysis']">
          <ng-container *ngTemplateOutlet="keyAndValue,context : {data: mccData['demand_analysis']}">
          </ng-container>
        </ng-container>
      </div>

    </div>
   
  </div>



</div>
<div class="col-md-12">
  <h3>Monitoring Parameters</h3>
  <div class="chart-content">
    <canvas baseChart *ngIf="lineChartData" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
      [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
  </div>


</div>

<div class="col-md-12">
  <h3>Power Monitoring</h3>
  <div class="chart-content">
    <canvas baseChart *ngIf="lineChartPowerDataPG1" [datasets]="lineChartPowerDataPG1" [labels]="lineChartLabels"
      [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
  </div>


</div>

<!-- <div class="col-md-12">
  <h3>Power Data(page 2)</h3>
  <div class="chart-content">
    <canvas baseChart *ngIf="lineChartPowerDataPG1" [datasets]="lineChartPowerDataPG1" [labels]="lineChartLabels"
      [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
  </div>


</div> -->

<div class="col-md-12">
  <h3>Power Quality Data</h3>
  <div class="chart-content">
    <canvas baseChart *ngIf="lineChartPowerQualityData" [datasets]="lineChartPowerQualityData" [labels]="lineChartLabels"
      [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
  </div>
</div>

<div class="col-md-12">
  <h3>Demand Analysis</h3>
  <div class="chart-content">
    <canvas baseChart *ngIf="lineChartDemandAnalysisData" [datasets]="lineChartDemandAnalysisData" [labels]="lineChartLabels"
      [options]="demandAnalysisChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" chartType="line"></canvas>
  </div>
</div>

<div class="mat-elevation-z8">
  <mat-table #aircompressortable [dataSource]="dataSource">
    <ng-container matColumnDef="{{header.value}}" *ngFor="let header of headerWithColumns">
      <mat-header-cell *matHeaderCellDef> {{header.headers}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[header.value]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  <mat-paginator showFirstLastButtons [ngStyle]="{'color': '#3e6ceb','font-size':'15px','font-weigth':'bold'}"
    [pageSize]="10" [pageSizeOptions]="[5,10,15, 25,30]"></mat-paginator>
</div>

<!-- Key and Value Template -->
<ng-template #keyAndValue let-data="data">
  <dl class="keyvalue" *ngFor="let row of data">
      <dt class="keyItem"> {{ row.parameterName }} </dt> <span class="colon">:</span>
      <dd class="valueItem">
          <span ng-if="row.currentData">{{ row.convertedCurrentData }} </span>
          <ng-container
              *ngTemplateOutlet="arrowTemplate,context:{increasedValue:row.increasedValue,forward:row.forward}">
          </ng-container>
          <span>{{ row.convertedIncreasedValue }}</span>
      </dd>
  </dl>
</ng-template>

<!-- Arrow Template -->
<ng-template #arrowTemplate let-increasedValue="increasedValue" let-isForward="forward">
  <span *ngIf="(increasedValue >= 0 && increasedValue != null); else downArrow">
    <span *ngIf="(increasedValue == 0); then checkForZero else upArrow"></span>
</span>

<ng-template #checkForZero>
    <span *ngIf="(isForward !== false); then upArrow else downArrow"></span>
</ng-template>

<ng-template #upArrow>
    <span *ngIf="increasedValue != null">
        <i [ngClass]="getArrowColor(increasedValue,isForward) ? 'greenClass': 'redClass'" class="fa fa-long-arrow-up"
        aria-hidden="true"></i>
    </span>
</ng-template>

  <ng-template #downArrow>
      <span *ngIf="increasedValue != null">
          <i [ngClass]="getArrowColor(increasedValue,isForward) ? 'greenClass': 'redClass'"
              class="fa fa-long-arrow-down" aria-hidden="true"></i>
      </span>
  </ng-template>
</ng-template>